# Python 3.9.6+
fastapi==0.124.2
uvicorn==0.38.0
jinja2==3.1.6
httpx==0.28.1

# 业务能力依赖
paramiko==5.0.0
bcrypt==5.0.0
cryptography==49.0.0
invoke==3.0.3
PyNaCl==1.6.2
cffi==2.0.0
pycparser==2.23
typing_extensions==4.15.0
openpyxl==3.1.5

# 打包
pyinstaller
